DATABASE_URL="postgres://admin:root@localhost:5432/complicode"
GEMINI_API_KEY="SUA_API_KEY_AQUI"
GEMINI_MODEL="gemini-3.1-flash-lite"
PORT="3333"
JWT_SECRET="SECRET"
JWT_AUDIENCE="http://localhost:3333"
JWT_ISSUER="http://localhost:3333"